@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --title-color: #c7a17a;
}

.header__banner-slogan {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 115px;
}

h1 {
    color: var(--title-color);
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    font-weight: 400;
}
h2 {
    color: var(--title-color);
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    font-weight: 400;
}
h3 {
    color: 
    font-family: 'Bebas Neue', cursive;
    font-size: 58px;
}